.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 50px;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: background-color 0.5s, border-color 0.5s;
    line-height: 1;
    /* Light mode by default */
    background-color: #fff;
    border-bottom: 1px solid #dee2e6;
  }
  .page-header .logo-placeholder img {
    max-height: 40px; /* Adjusted height */
    height: auto;
    width: auto;
  }
  .page-header .menu-link {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    color: #333;
  }

  /* Dark Mode Styles */
  body:not(.light-mode) .page-header {
    background-color: #2d3748;
    border-bottom-color: #4a5568;
  }
  body:not(.light-mode) .page-header .menu-link {
    color: #cbd5e0;
  }

#theme-toggle-btn {
    background-color: #4a5568;
    color: rgb(214, 205, 205);
    border: none;
    padding: 5px 10px; /* smaller padding */
    border-radius: 50%;
    font-size: 1.2rem; /* smaller font */
    cursor: pointer;
    z-index: 10;
    margin-left: auto; /* Pushes the button to the right */
}

body.light-mode #theme-toggle-btn {
    background-color: #899aad;
    color: #1a202c;
}

body {
    padding-top: 70px;
    font-family: 'Inter', sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

/* Light Mode Defaults */
body.light-mode {
    background-color: #f3f4f6; /* gray-100 */
    color: #1a202c;
}
body.light-mode #login-section,
body.light-mode .w-full.max-w-2xl {
    background-color: #ffffff;
    color: #1a202c;
}
body.light-mode #login-section h1, body.light-mode #login-section p,
body.light-mode .w-full.max-w-2xl h2 {
    color: #1a202c;
}

/* Dark Mode Styles */
body:not(.light-mode) {
    background-color: #1a202c;
    color: #cbd5e0;
}
body:not(.light-mode) #login-section,
body:not(.light-mode) .w-full.max-w-2xl {
    background-color: #2d3748;
    color: #cbd5e0;
}
body:not(.light-mode) #login-section h1, body:not(.light-mode) #login-section p,
body:not(.light-mode) .w-full.max-w-2xl h2 {
    color: #ffffff;
}
body:not(.light-mode) .menu-link,
body:not(.light-mode) #user-display {
    color: #cbd5e0;
}
