/* Games/css/theme.css */
:root {
  --background-color-light: #f8f9f9;
  --text-color-light: #1a202c;
  --header-bg-light: #ffffff;
  --header-shadow-light: rgba(0, 0, 0, 0.1);
  --button-bg-light: #e2e8f0;
  --button-text-light: #1a202c;
  --button-hover-bg-light: #cbd5e0;
  --container-bg-light: #f8f9f9;
  --container-shadow-light: rgba(0, 0, 0, 0.1);
  --link-color-light: #4299e1;
  --menu-link-color-light: #333;
  --menu-link-hover-light: #007bff;
}

body.light-mode {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --header-bg: var(--header-bg-light);
  --header-shadow: var(--header-shadow-light);
  --button-bg: var(--button-bg-light);
  --button-text: var(--button-text-light);
  --button-hover-bg: var(--button-hover-bg-light);
  --container-bg: var(--container-bg-light);
  --container-shadow: var(--container-shadow-light);
  --link-color: var(--link-color-light);
  --menu-link-color: var(--menu-link-color-light);
  --menu-link-hover: var(--menu-link-hover-light);
}

body:not(.light-mode) {
  --background-color: #1a202c;
  --text-color: #e2e8f0;
  --header-bg: #2d3748;
  --header-shadow: rgba(0, 0, 0, 0.5);
  --button-bg: #4a5568;
  --button-text: #e2e8f0;
  --button-hover-bg: #2d3748;
  --container-bg: #2d3748;
  --container-shadow: rgba(0, 0, 0, 0.3);
  --link-color: #63b3ed;
  --menu-link-color: white;
  --menu-link-hover: #bbb;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}
